In [17]:

import iris
import sqlalchemy

iris_uri = "iris://_SYSTEM:sys@localhost:1972/USER"
engine = sqlalchemy.engine.create_engine(iris_uri, pool_size=1)

iris_table = "FS.AccountPosition"

In [18]:
import pandas as pd

connection = engine.connect()
pandas_df = pd.read_sql(f"Select * from {iris_table}", connection)

In [27]:
import pyarrow as pa

# Convert to Arrow
arrow_table = pa.Table.from_pandas(pandas_df)

In [28]:
arrow_table.num_rows

345009

In [20]:
table_name = f"NS1.{iris_table}"


catalog.create_namespace_if_not_exists
catalog.create_table_if_not_exists(
    identifier=table_name,
    schema=arrow_table.schema,
    location="abfs://mgb",
)

table = catalog.load_table(table_name)
table.append(arrowtable)

NoSuchNamespaceError: Namespace does not exist: ('NS1', 'FS')

In [6]:
from pyiceberg.catalog.sql import  SqlCatalog
from pyiceberg.io.fsspec import FsspecFileIO
import pyiceberg

iris_uri = "iris://_SYSTEM:sys@localhost:1972/USER"
connection_string = "DefaultEndpointsProtocol=https;AccountName=testiris;AccountKey=g+wwoh1ohZaPrLN+tb+Ed8RE+T4y5au60aptelCbpbIy48v3G1q1biT0MBOgkMSWY6SJFpssi2o8+ASt0hqftQ==;EndpointSuffix=core.windows.net"

catalog = SqlCatalog(
    name = "default",
    **{
    #    "uri": f"sqlite:///{warehouse_path}/pyiceberg_catalog.db",
        "uri": iris_uri,
    #    "warehouse": f"file://{warehouse_path}",
        "py-io-impl": "pyiceberg.io.fsspec.FsspecFileIO",
        "adlfs.connection-string": connection_string,
        "adlfs.account-name": "testiris"
    },
)

namespace = "NS1.FS"
namespaces = catalog.list_namespaces()
ns_exists = any([n[0] for n in namespaces])
if not ns_exists:
    catalog.create_namespace(namespace)
    print(catalog.list_namespaces())
else:
    print(f"Namespace {namespace} already exists")

catalog.list_tables("NS1")

Namespace NS1.FS already exists

[('NS1', 'bids')]

In [5]:
catalog.list_tables("NS1")
#catalog.drop_table("NS1.SecurityMaster")

[('NS1', 'bids')]

In [26]:
from pyiceberg.catalog.sql import SqlCatalog

warehouse_path = "/tmp/warehouse"
catalog = SqlCatalog(
    "default",
    **{
        "uri": f"sqlite:///{warehouse_path}/pyiceberg_catalog.db",
        "warehouse": f"file://{warehouse_path}",
        "type": 1
    },
)

In [8]:
import pyarrow as pa

schema = pa.schema(
    [
        pa.field("foo", pa.string(), nullable=True),
        pa.field("bar", pa.int32(), nullable=True),
        pa.field("baz", pa.bool_(), nullable=True),
    ]
)

table_name = "FS.bids"
catalog.create_namespace_if_not_exists("FS")
catalog.create_table_if_not_exists(
    identifier=table_name,
    schema=schema,
    location="abfs://mgb",
)

bids(
  1: foo: optional string,
  2: bar: optional int,
  3: baz: optional boolean
),
partition by: [],
sort order: [],
snapshot: null

In [ ]:
import pyarrow as pa

table = catalog.load_table("NS1.bids")
print(table)
new_schema = pa.schema([
    ('foo', pa.string()),
    ('bar', pa.int32()),
    ('baz', pa.bool_())
])
df = pa.Table.from_pylist(schema=new_schema, mapping = 
    [
        {"foo": "Amsterdam", "bar": 52 , "baz": True},
        {"foo": "Paris", "bar": 12 , "baz": False},
        {"foo": "Sidney", "bar": 77 , "baz": True},


    ],
)
table.append(df)
table.scan().to_arrow()
table.overwrite?

In [23]:

table_view = catalog.load_table("NS1.SecurityMaster")
data = table_view.scan().to_pandas()
data

,ID,active,cik,composite_figi,currency_name,last_updated_utc,locale,market,name,primary_exchange,share_class_figi,ticker,type,trade_date
0,0,1,0001090872,BBG000C2V3D6,usd,2023-11-30T00:00:00Z,us,stocks,Agilent Technologies Inc.,XNYS,BBG001SCTQY4,A,CS,66777
1,1,1,0001675149,BBG00B3T3HD3,usd,2023-12-06T00:00:00Z,us,stocks,Alcoa Corporation,XNYS,BBG00B3T3HF1,AA,CS,66777
2,2,1,0001776878,BBG01B0JRCS6,usd,2023-11-03T00:00:00Z,us,stocks,AXS First Priority CLO Bond ETF,ARCX,BBG01B0JRCT5,AAA,ETF,66777
3,3,1,0001708646,BBG00LPXX872,usd,2023-11-13T00:00:00Z,us,stocks,Goldman Sachs Physical Gold ETF Shares,BATS,BBG00LPXX8Z1,AAAU,ETF,66777
4,4,1,0001829432,None,usd,2023-11-06T00:00:00Z,us,stocks,Ares Acquisition Corporation,XNYS,None,AAC,CS,66777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23373,22495,1,None,None,None,None,us,indices,OMX Stockholm Benchmark_GI Exp,None,None,I:OMXSBGIEXP,None,66777
23374,22496,1,None,None,None,None,us,indices,OMX Stockholm Benchmark_NI,None,None,I:OMXSBNI,None,66777
23375,22497,1,None,None,None,None,us,indices,OMX Stockholm Benchmark_PI,None,None,I:OMXSBPI,None,66777
23376,22498,1,None,None,None,None,us,indices,OMX Stockholm All-Share Cap_GI,None,None,I:OMXSCAPGI,None,66777
23377,22499,1,None,None,None,None,us,indices,OMX Stockholm All-Share Cap_PI,None,None,I:OMXSCAPPI,None,66777